<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="tr">

<head th:replace="fragments/head :: head"></head>

<body>
    <div class="flex">
        <div th:insert="fragments/sidebar.html :: sidebar"></div>
        <div class="flex-col w-full h-screen bg-slate-100">
            <div th:insert="fragments/header.html :: header('Hayvan Ekle')"></div>
            <div class="w-4/6 mx-auto flex-col justify-start mt-10">
                <form action="#" th:action="@{/owners/{id}/pets/create (id=${owner.getId()})}" th:object="${pet}" method="post" class="w-full mx-auto mt-10">
                    <div class="bg-red-200 rounded-lg px-2 py-2" th:if="${#fields.hasErrors('*')}">
                        <p class="text-gray-900" th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                    </div>
                    <div class="mb-4">
                        <input type="text" class="rounded px-1 py-3 w-full border border-gray-300"  th:field="*{name}" placeholder="İsim" th:errorclass="is-invalid">
                    </div>
                    <div class="mb-4">
                        <input type="text" class="rounded px-1 py-3 w-full border border-gray-300"  th:field="*{type}" placeholder="Tür" th:errorclass="is-invalid">
                    </div>
                    <div class="mb-4">
                        <input type="text" class="rounded px-1 py-3 w-full border border-gray-300"  th:field="*{breed}" placeholder="Cins" th:errorclass="is-invalid">
                    </div>
                    <div class="mb-4">
                        <input type="number" class="rounded px-1 py-3 w-full border border-gray-300"  th:field="*{age}" placeholder="Yaş" th:errorclass="is-invalid">
                    </div>
                    <div class="mb-4">
                        <input type="text" class="rounded px-1 py-3 w-full border border-gray-300"  th:field="*{description}" placeholder="Açıklama" th:errorclass="is-invalid">
                    </div>
                    <div>
                        <input type="submit" class="bg-cyan-700 rounded px-2 py-2 text-white w-full" value="Kaydet" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>