<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="tr">

<head th:replace="fragments/head :: head"></head>

<body>
    <div class="flex">
        <div th:insert="fragments/sidebar.html :: sidebar"></div>
        <div class="flex-col w-full h-screen bg-slate-100">
            <div th:insert="fragments/header.html :: header('Hayvan Detay')"></div>
            <div class="flex justify-between m-10  border-b border-blue-800">
                <div class="flex">
                    <div class="">
                        <p>İsim:</p>
                        <p>Sahip:</p>
                        <p>Tür:</p>
                        <p>Cins:</p>
                        <p>Yaş:</p>
                        <p>Açıklama:</p>
                    </div>
                    <div class="ml-2 font-bold">
                        <p th:text="${pet.getName()}"></p>
                        <p th:text="${owner.getFirstName() +' '+ owner.getLastName()}"></p>
                        <p th:text="${pet.getType()}"></p>
                        <p th:text="${pet.getBreed()}"></p>
                        <p th:text="${pet.getAge()}"></p>
                        <p th:text="${pet.getDescription()}"></p>
                    </div>
                </div>
                <div class="flex flex-col justify-between mb-2">
                    <a th:href="@{/owners/{ownerId}/pets/edit/{petId}(ownerId=${owner.getId()}, petId= ${pet.getId()})}"  title="Düzenle">
                        <span th:replace="fragments/svg/icons :: editIcon"></span>
                    </a>
                    <form th:method="post" id="petShowDeleteForm" th:action="@{/owners/{ownerId}/pets/delete/{petId}(ownerId=${owner.getId()}, petId= ${pet.getId()})}">
                        <button type="submit" title="Sil">
                            <span th:replace="fragments/svg/icons :: deleteIcon"></span>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <script th:inline="javascript">
    document.getElementById("petShowDeleteForm").addEventListener("click", function (event){
        if (confirm("Bu Kayıt Silinecek!") == false) {
            event.preventDefault();
        }
    });
</script>
</body>
</html>