<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hayvan Sahipleri</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="flex">
    <div th:insert="fragments/sidebar.html :: sidebar"></div>
    <div class="flex-col w-full h-screen bg-slate-100">
        <div th:insert="fragments/header.html :: header('Hayvan Sahibi Ekle')"></div>
        <div class="w-4/6 mx-auto flex-col justify-start mt-10">
            <form action="#" th:action="@{/owners/create}" th:object="${owner}" method="post" class="w-full mx-auto mt-10">
                <div class="bg-red-200 rounded-lg px-2 py-2" th:if="${#fields.hasErrors('*')}">
                    <p class="text-gray-900" th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>
                <div class="mb-4">
                    <input type="text" class="rounded px-1 py-3 w-full border border-gray-300"  th:field="*{firstName}" placeholder="İsim" th:errorclass="is-invalid">
                </div>
                <div class="mb-4">
                    <input type="text" class="rounded px-1 py-3 w-full border border-gray-300"  th:field="*{lastName}" placeholder="Soyisim" th:errorclass="is-invalid">
                </div>
                <div class="mb-4">
                    <input type="text" class="rounded px-1 py-3 w-full border border-gray-300"  th:field="*{address}" placeholder="Adres" th:errorclass="is-invalid">
                </div>
                <div class="mb-4">
                    <input type="text" class="rounded px-1 py-3 w-full border border-gray-300"  th:field="*{email}" placeholder="Email" th:errorclass="is-invalid">
                </div>
                <div class="mb-4">
                    <input type="text" class="rounded px-1 py-3 w-full border border-gray-300"  th:field="*{phone}" placeholder="Telefon" th:errorclass="is-invalid">
                </div>
                <div>
                    <input type="submit" class="bg-cyan-700 rounded px-2 py-2 text-white w-full" value="Kaydet" />
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>