<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="tr">

<head th:replace="fragments/head :: head"></head>

<body>
    <div class="flex">
        <div th:insert="fragments/sidebar.html :: sidebar"></div>
        <div class="flex-col w-full h-screen bg-slate-100">
            <div th:insert="fragments/header.html :: header('Hayvan Sahibi Detay')"></div>
            <div class="flex justify-between m-10 border-b border-blue-800">
                <div class="flex">
                    <div class="">
                        <p>İsim:</p>
                        <p>Soyisim:</p>
                        <p>Email:</p>
                        <p>Adres:</p>
                        <p>Telefon:</p>
                    </div>
                    <div class="ml-2 font-bold">
                        <p th:text="${owner.getFirstName()}"></p>
                        <p th:text="${owner.getLastName()}"></p>
                        <p th:text="${owner.getEmail()}"></p>
                        <p th:text="${owner.getAddress()}"></p>
                        <p th:text="${owner.getPhone}"></p>
                    </div>
                </div>
                <div class="flex flex-col justify-between mb-2">
                    <a th:href="@{/owners/edit/{id}(id=${owner.getId()})}"  title="Düzenle">
                        <span th:replace="fragments/svg/icons :: editIcon"></span>
                    </a>
                    <a th:href="@{/owners/{id}/pets/create(id=${owner.getId()})}" title="Hayvan Ekle" class="mt-2">
                        <span th:replace="fragments/svg/icons :: addPetIcon"></span>
                    </a>
                    <form sec:authorize="hasAuthority('ADMIN')" id="ownerShowDeleteForm" th:method="post" th:action="@{/admin/owners/delete/{id}(id=${owner.getId()})}">
                        <button type="submit" title="Sil">
                            <span th:replace="fragments/svg/icons :: deleteIcon"></span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="text-center m-4 w-full">Hayvanlar</div>
            <div th:insert="fragments/petList.html :: petList(pets=${pets}, owner=${owner})"></div>
        </div>
    </div>
    <script th:inline="javascript">
        document.getElementById("ownerShowDeleteForm").addEventListener("click", function (event){
            if (confirm("Bu Kayıt Silinecek!") == false) {
                event.preventDefault();
            }
        });
    </script>
</body>
</html>