<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:fragment="info">
    <div class="w-5/6 mx-auto flex flex-col justify-start text-left py-4 bg-slate-100">
        <h2 class="font-bold text-center mt-1">Veteriner Uygulamasına Hoşgeldiniz</h2>
        <h3 class="font-bold text-left my-2">Uygulama Hakkında</h3>
        <p>Bu uygulama iki farklı kullanıcı tipi ile bir veteriner kliniğinin ihtiyacı olacabilecek fonksiyonları karşılamayı amaçlamıştır.</p>
        <p>Uygulama, "ADMIN" ve "USER" olmak üzere iki farklı rolde kullanıbilmektedir.</p>
        <p>"USER" rolü hayvan sahibi oluşturma, düzenleme, görünütüleme ve hayvan sahibine kayıtlı hayvan oluşturma, düzenleme, görüntüleme ve silme yetkilerine sahiptir. </p>
        <p>"ADMIN" rolü "USER" rolünün yetkilerine sahip olmaya ek olarak hayvan sahibi silme yetkisine sahiptir.</p>

        <h4 class="font-bold text-left my-2">Giriş</h4>
        <div class="flex flex-col">
            <p>"ADMIN" rolü için kullanıcı adı <span class="font-bold">admin</span> şifre <span class="font-bold">pass</span></p>
            <p>"USER" rolü için kullanıcı adı <span class="font-bold">user</span> şifre <span class="font-bold">pass</span></p>
        </div>
        <h4 class="font-bold text-left my-2">İconlar</h4>

        <p class="flex m-2"><span class="mr-2" th:insert="fragments/svg/icons :: showIcon"></span>: İlgili Kaydın Detaylarını Göster</p>

        <p class="flex m-2"><span class="mr-2" th:insert="fragments/svg/icons :: editIcon"></span>: İlgili Kaydı Düzenleme</p>

        <p class="flex m-2"><span class="flex mr-2" th:insert="fragments/svg/icons :: addOwnerIcon"></span>: Hayvan Sahibi Oluşturma</p>

        <p class="flex m-2"><span class="mr-2" th:insert="fragments/svg/icons :: addPetIcon"></span>: İlgili Hayvan Sahibi için Hayvan Oluşturma</p>

        <p class="flex m-2"><span class="mr-2" th:insert="fragments/svg/icons :: deleteIcon"></span>: İlgili Kaydı Silme</p>

        <p class="flex m-2"><span class="mr-2 bg-cyan-700 rounded-full p-1" th:insert="fragments/svg/icons :: loginIcon"></span>: Giriş Yap</p>

        <p class="flex m-2"><span class="mr-2  bg-cyan-700 rounded-full p-1" th:insert="fragments/svg/icons :: logoutIcon"></span>: Çıkış   Yap</p>

        <h3 class="font-bold text-left my-2">Kullanılan Teknolojiler</h3>
        <p>Spring Boot</p>
        <p>Maven</p>
        <p>Spring Mvc</p>
        <p>Spring Security</p>
        <p>Spring JPA</p>
        <p>H2 Database</p>
        <p>Javax Validation</p>
        <p>Thymeleaf</p>
        <p>Tailwind CSS</p>
    </div>
</div>
</body>
</html>