<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:fragment="info">
    <div class="w-5/6 mx-auto flex flex-col justify-start text-left py-4 bg-slate-100">
        <h2 class="font-bold text-center mt-1">Veteriner Uygulamasına Hoşgeldiniz</h2>
        <h3 class="font-bold text-left my-2">Uygulama Hakkında</h3>
        <p>Bu uygulama iki farklı kullanıcı tipi ile bir veteriner kliniğinin ihtiyacı olacabilecek fonksiyonları karşılamayı amaçlamıştır.</p>
        <p>Uygulama, "ADMIN" ve "USER" olmak üzere iki farklı rolde kullanıbilmektedir.</p>
        <p>"USER" rolü hayvan sahibi oluşturma, düzenleme, görünütüleme ve hayvan sahibine kayıtlı hayvan oluşturma, düzenleme, görüntüleme ve silme yetkilerine sahiptir. </p>
        <p>"ADMIN" rolü "USER" rolünün yetkilerine sahip olmaya ek olarak hayvan sahibi silme yetkisine sahiptir.</p>

        <h4 class="font-bold text-left my-2">Giriş</h4>
        <div class="flex flex-col">
            <p>"ADMIN" rolü için kullanıcı adı <span class="font-bold">admin</span> şifre <span class="font-bold">pass</span></p>
            <p>"USER" rolü için kullanıcı adı <span class="font-bold">user</span> şifre <span class="font-bold">pass</span></p>
        </div>
        <h4 class="font-bold text-left my-2">İconlar</h4>
        <p class="flex"><span class="mx-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#22c55e">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                    </svg>
        </span>: İlgili Kaydın Detaylarını Göster</p>
        <p class="flex"><span class="mx-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#2563eb">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
            </svg>
        </span>: İlgili Kaydı Düzenleme</p>
        <p class="flex"><span class="mx-2 p-1 rounded-full bg-blue-500">
             <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="#ffffff">
                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
             </svg>
        </span>: Hayvan Sahibi Oluşturma</p>
        <p class="flex"><span class="mx-2">
            <svg class="h-6 w-6" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40.1001 33.5099C37.9122 31.438 35.0134 30.2832 32.0001 30.2832C28.9868 30.2832 26.088 31.438 23.9001 33.5099L14.1301 42.7499C8.5301 47.8399 12.5701 57.5699 20.1301 57.1899C24.2301 57.0799 27.5601 54.9799 31.9901 55.0599C36.5801 54.9799 39.9901 56.8299 44.1101 57.1899C51.5401 57.3599 55.3801 47.7399 49.8601 42.7499L40.1001 33.5099Z" fill="#facc15"/>
                <path d="M56.9201 19.93C53.1001 19.18 50.1801 23.43 49.4201 27.09C47.1401 38.42 58.1201 40.58 60.6901 29.59C61.7401 24.88 60.0801 20.63 56.9201 19.93Z" fill="#facc15"/>
                <path d="M40.7301 26.05C44.5301 26.05 47.6201 21.73 47.6201 16.43C47.2401 3.66998 34.2201 3.66998 33.8501 16.43C33.8501 21.73 36.9401 26.05 40.7301 26.05Z" fill="#facc15"/>
                <path d="M14.58 27.09C13.83 23.43 10.9 19.18 7.08004 19.93C3.86238e-05 21.72 3.00004 36.81 9.92004 36.85C13.84 36.72 15.65 32.17 14.58 27.09Z" fill="#facc15"/>
                <path d="M23.27 26.05C27.06 26.05 30.15 21.73 30.15 16.43C29.78 3.66998 16.76 3.66998 16.38 16.43C16.38 21.73 19.47 26.05 23.27 26.05Z" fill="#facc15"/>
            </svg>
        </span>: İlgili Hayvan Sahibi için Hayvan Oluşturma</p>
        <p class="flex"><span class="mx-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#f43f5e">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
        </span>: İlgili Kaydı Silme</p>
        <p class="flex"><span class="mx-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#000000">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
            </svg>
        </span>: Giriş Yap</p>
        <p class="flex"><span class="mx-2">
             <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:scale-110=" fill="none" viewBox="0 0 24 24" stroke="#000000">
                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
             </svg>
        </span>: Çıkış   Yap</p>

        <h3 class="font-bold text-left my-2">Kullanılan Teknolojiler</h3>
        <p>Spring Boot</p>
        <p>Maven</p>
        <p>Spring Mvc</p>
        <p>Spring Security</p>
        <p>Spring JPA</p>
        <p>H2 Database</p>
        <p>Javax Validation</p>
        <p>Thymeleaf</p>
        <p>Tailwind CSS</p>
    </div>
</div>
</body>
</html>