<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="tr">

<head th:replace="fragments/head :: head"></head>

<body>
    <div class="flex">
        <div th:insert="fragments/sidebar.html :: sidebar"></div>
        <div class="w-full bg-slate-100">
            <div th:insert="fragments/header.html :: header('Arama Sonuçları')"></div>

            <div th:if="${owners.size() != 0}">
                <div class="w-4/6 mx-auto mt-10">
                    <p class="text-center mb-2" >Bulunan Hayvan Sahipleri</p>
                    <table class="w-full overflow-y-auto max-h-96">
                        <thead class="border-b border-blue-800">
                        <tr>
                            <th class="text-left">İsim</th>
                            <th class="text-left">Soyisim</th>
                            <th class="text-left">Email</th>
                            <th class="text-left">Seçenekler</th>
                        </tr>
                        </thead>
                        <tbody th:each="owner: ${owners}">
                        <tr class="border-b border-gray-200">
                            <td th:text="${owner.getFirstName()}" class="py-4"></td>
                            <td th:text="${owner.getLastName()}"></td>
                            <td th:text="${owner.getEmail()}"></td>
                            <td class="flex items-center py-4">
                                <a th:href="@{/owners/show/{id}(id=${owner.getId()})}" title="Göster">
                                    <span th:replace="fragments/svg/icons :: showIcon"></span>
                                </a>
                                <a th:href="@{/owners/edit/{id}(id=${owner.getId()})}" class="ml-2" title="Düzenle">
                                    <span th:replace="fragments/svg/icons :: editIcon"></span>
                                </a>
                                <a th:href="@{/owners/{id}/pets/create(id=${owner.getId()})}" class="ml-2" title="Hayvan Ekle">
                                    <span th:replace="fragments/svg/icons :: addPetIcon"></span>
                                </a>
                                <form class="ml-2" sec:authorize="hasAuthority('ADMIN')" id="ownerSearchDeleteForm" th:method="post" th:action="@{/admin/owners/delete/{id}(id=${owner.getId()})}">
                                    <button type="submit" title="Sil">
                                        <span th:replace="fragments/svg/icons :: deleteIcon"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:if="${pets.size() != 0}">
                <div class="w-4/6 mx-auto mt-10 overflow-y-auto max-h-96 mt-5">
                <p class="text-center mb-2" >Bulunan Hayvanlar</p>
                    <table class="w-full">
                        <thead class="border-b border-blue-800">
                        <tr>
                            <th class="text-left">İsim</th>
                            <th class="text-left">Tür</th>
                            <th class="text-left">Yaş</th>
                            <th class="text-left">Sahip</th>
                            <th class="text-left">Seçenekler</th>
                        </tr>
                        </thead>
                        <tbody th:each="pet: ${pets}">
                        <tr class="border-b border-gray-200">
                            <td th:text="${pet.getName()}" class="py-4"></td>
                            <td th:text="${pet.getType()}"></td>
                            <td th:text="${pet.getAge()}"></td>
                            <td th:text="${pet.getOwner().getFirstName()}"></td>
                            <td class="flex items-center py-4">
                                <a th:href="@{/owners/{ownerId}/pets/show/{petId}(ownerId=${pet.getOwner().getId()}, petId= ${pet.getId()})}" title="Göster">
                                    <span th:replace="fragments/svg/icons :: showIcon"></span>
                                </a>
                                <a th:href="@{/owners/{ownerId}/pets/edit/{petId}(ownerId=${pet.getOwner().getId()}, petId= ${pet.getId()})}" class="ml-2" title="Düzenle">
                                    <span th:replace="fragments/svg/icons :: editIcon"></span>
                                </a>
                                <form th:method="post" id="petSearchDeleteForm" th:action="@{/owners/{ownerId}/pets/delete/{petId}(ownerId=${pet.getOwner().getId()}, petId= ${pet.getId()})}"  class="ml-2">
                                    <button type="submit" title="Sil">
                                        <span th:replace="fragments/svg/icons :: deleteIcon"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center mt-10" th:if="${pets.size() == 0 && owners.size() == 0}">Bir şey bulunamadı</div>
        </div>
    </div>
    <script th:inline="javascript">
    document.getElementById("ownerSearchDeleteForm").addEventListener("click", function (event){
        if (confirm("Bu Kayıt Silinecek!") == false) {
            event.preventDefault();
        }
    });
    document.getElementById("petSearchDeleteForm").addEventListener("click", function (event){
        if (confirm("Bu Kayıt Silinecek!") == false) {
            event.preventDefault();
        }
    });
</script>
</body>
</html>