<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VeterinerApp</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-100">

    <div class="flex-col w-full mx-auto" sec:authorize="isAnonymous()">
        <div th:insert="fragments/navbar.html :: navbar"></div>
        <div th:insert="fragments/info.html :: info"></div>
    </div>

    <div sec:authorize="hasAuthority('ADMIN') || hasAuthority('USER')">
        <div class="flex">
            <div th:insert="fragments/sidebar.html :: sidebar"></div>
            <div class="flex-col w-full h-screen bg-slate-100">
                <div th:insert="fragments/header.html :: header('VeterinerApp Anasayfa')"></div>

                <div class="flex w-4/6 mx-auto mt-10 justify-between items-center">
                    <div class="text-center">
                        <h4>Kayıtlı Hayvan Sahibi Sayısı</h4>
                        <span th:text="${ownerCount}" class="text-3xl mt-2 font-bold"></span>
                    </div>
                    <div class="text-center">
                        <h4 class="text-center">Kayıtlı Hayvan Sayısı</h4>
                        <span th:text="${petCount}" class="text-3xl mt-2 font-bold"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>